@font-face {
    font-family:'IRNAZANIN';
    src:url('IRNAZANIN.eot');
    src:local('IRNAZANIN'),
        local('IRNAZANIN'),
        url('IRNAZANIN.eot?#iefix') format('embedded-opentype'),
        url('IRNAZANIN.woff') format('woff'),
        url('IRNAZANIN.ttf') format('truetype'),
        url('IRNAZANIN.svg#BYekan') format('svg');
    font-style:normal;
    font-weight:normal;
}
body 
{
    background-image:url('PIC/bg.jpg');
    direction: ltr;
}

#header
{
    margin:0 auto;
    width:1000px;
    height:200px;
    background-image:url(PIC/hbg2.jpg);
    border-radius:6px;
}
#menu
{
    margin:0 auto;
    width:1000px;
    height:60px;
    background-image:url(PIC/mbg.jpg);
    border-radius:6px;
    text-align:right;
    direction:rtl;
    line-height:30px;
}
#menu ul {
    list-style-type:none;
}
#menu ul li{
    display:block;
    float:right;
}
#menu ul li a{
    padding-right:20px;
    padding-left:10px;
    font-family:Tahoma;
    font-size:12px;
    color:black;
    text-decoration:none;
}
#menu ul li a:hover{
    padding:15px;
    font-family:Tahoma;
    font-size:12px;
    border-style:solid;
    border-width:1px;
    border-radius:6px;
    border-color:lightblue;
    color:aquamarine;
    text-decoration:none;
}
#menu ul li a:visited{
    padding-right:20px;
    padding-left:10px;
    font-family:Tahoma;
    font-size:12px;
    color:black;
    text-decoration:none;
}
#container
{
    
    text-align:center;
    margin:0 auto;
    width:1000px;
    height:auto;
    background-color:lightgray;
    border-left-color:lightgray;
    border-left-width:1px;
    border-left-style:solid;    
    border-top-color:lightgray;
    border-top-width:1px;
    border-top-style:solid;
    border-right-color:lightgray;
    border-right-width:1px;
    border-right-style:solid;
    border-radius:6px;
}

#right
{
    width:200px;
    float:right;
    margin-right:5px;
    font-family:IRNazanin;
}
.left
{
    
    float:right;
    margin-right:5px;
    margin-top:5px;
    font-family:IRNazanin;
}
#left-side
{
    width:240px;
    direction:rtl;
    float:left;
    margin-right:5px;
    margin-top:5px;
    font-family:IRNazanin;
}
#right-side
{
    width:530px;
    direction:rtl;
    float:right;
    margin-left:10px;
    margin-top:5px;
    font-family:IRNazanin;
}
.top-right
{
    background-image:url(PIC/mbg.jpg);
    background-repeat:repeat-x;
    width:190px;
    height:40px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}
.middle-right
{
    width:188px;
    background-color:whitesmoke;
    border-left-color:red;
    border-right-color:red;
    border-left-style:solid;
    border-right-style:solid;
    border-left-width:1px;
    border-right-width:1px;
}
.bottom-right
{
    background-color:whitesmoke;
    width:188px;
    height:10px;
    border-left-color:red;
    border-right-color:red;
    border-left-style:solid;
    border-right-style:solid;
    border-left-width:1px;
    border-right-width:1px;
    border-bottom-color:red;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}

.middle-left
{
    padding:2px;
    display:block;
    width:250px;
    height:250px;
    border-color:red;
    border-style:solid;
    border-width:1px;
    border-radius:6px;
}
.middle-left:hover 
{
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: darkmagenta;
    text-decoration: none;
}
.lastnews
{
    padding:0px;
    margin:0px;
}
.Left-side-top
{
    background-image:url(PIC/mbg.jpg);
    background-repeat:repeat-x;
    width:240px;
    height:40px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}
.Left-side-middle
{
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    width:238px;
    background-color:whitesmoke;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}
.Left-side-middle a img:hover
{
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: darkmagenta;
    text-decoration: none;
}

#tablerate
{
    width:18px;
    float:right;
    direction:rtl;
}
#tableinfo
{
    width:218px;
    float:left;
    direction:rtl;
}

.gallery-top
{
    text-align:center;
    background-image:url(PIC/mbg.jpg);
    background-repeat:repeat-x;
    width:1000px;
    height:40px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    font-family:IRNazanin;
}

.gallery
{
    margin:0 auto;
    padding-top:10px;
    padding-bottom:10px;
    width:1000px;
    border-color:red;
    border-style:solid;
    border-width:1px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}
.gallery a img:hover
{
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: darkmagenta;
    text-decoration: none;
}
#footer
{
    text-align:center;
    margin:0 auto;
    padding-top:25px;
    width:1000px;
    height:35px;
    background-image:url(PIC/mbg2.jpg);
    background-repeat:repeat-x;
    border-color:red;
    border-style:solid;
    border-width:1px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    font-family:Tahoma;
    font-size:12px;


}
